body {
    display: grid;
    grid-template-columns: repeat(12, 150px);
    grid-template-rows: repeat(11, 100px);
    font-family: 'Cuprum', sans-serif;
    color: #2b2b2b;
}


.navbar {
    text-align: center;
    grid-area: 1/1/2/14;
}
#rate-movie {
    text-align: left;
    font-family: 'Bebas Neue', cursive;

}
.navbar-brand {
    font-family: 'Bebas Neue', cursive;
    color: whitesmoke;
}

.title-select {
    font-family: 'Bebas Neue', cursive;
    grid-area: 2/2/3/5;
    margin-top: 30px;
}
#your-selection {
    grid-area: 2/5/3/7;
    padding-left: 25px;
}
/* movie list*/
/*Card*/
.container-0 {
    grid-area: 2/5/9/11;
    font-family: 'Bebas Neue', cursive;
    font-size: 32px;
    margin: 20px;
}

#output {
    grid-area: 3/5/8/9;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#single-movie {

}
.modal {
    font-family: 'Cuprum', sans-serif;
}

/* add movie */
.container-1 {
    grid-area: 3/2/4/4;
    font-family: 'Cuprum', sans-serif;
    font-size: 20px;

}

.container-2 {
    grid-area: 5/2/6/4;
    font-family: 'Cuprum', sans-serif;
    font-size: 20px;

}

.container-3 {
    grid-area: 7/2/8/4;
    font-family: 'Cuprum', sans-serif;
    font-size: 20px;

}
.sonk {
    font-family: 'Bebas Neue', cursive;
    width: 400px;
    height: 800px;
    grid-area: 2/11/6/12;
    padding-top: 20px;
}

.container-4 {
    grid-area: 2/10/3/11;
    font-family: 'Cuprum', sans-serif;
    font-size: 10px;
    z-index: 1;
    padding-top: 25px;
}
