body {
    display: grid;
    grid-template-columns: repeat(12, 150px);
    grid-template-rows: repeat(13, 100px);
    font-family: 'Cuprum', sans-serif;
}


.navbar {
    text-align: center;
    grid-area: 1/1/2/13;
}
.navbar-brand {
    font-family: 'Bebas Neue', cursive;
    color: whitesmoke;
}

.title-select {
    font-family: 'Bebas Neue', cursive;
    grid-area: 2/2/3/5;
    margin-top: 30px;
}

/* movie list*/
.container-0 {
    grid-area: 2/5/13/13;
    font-family: 'Bebas Neue', cursive;
    font-size: 32px;
    background-color: rgba(154, 154, 154, 0.13);
    padding: 10px;
    border: black 1px solid;
}
#output {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-evenly;
}

#single-movie {
    padding: 30px;
    margin: 30px;
}
/* add movie */
.container-1 {
    grid-area: 3/2/4/4;
    font-family: 'Cuprum', sans-serif;
    font-size: 20px;

}

.container-2 {
    grid-area: 5/2/6/4;
    font-family: 'Cuprum', sans-serif;
    font-size: 20px;

}

.container-3 {
    grid-area: 7/2/8/4;
    font-family: 'Cuprum', sans-serif;
    font-size: 20px;

}
